$border-radius: 24px;
$layout-padding: 0 $border-radius;

.custom-layout {
  height: 100%;
  position: relative;

  .custom-layout-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .ant-layout-footer {
    width: 100%;
    height: unset;
    padding: 0 !important;
    position: fixed;
    bottom: 0;
    background: transparent;
    display: block;

    .ant-tabs {
      width: 100%;
      padding: $layout-padding;
      border-radius: $border-radius $border-radius 0 0;
      background-color: #ffffff;

      .ant-tabs-nav {
        margin: 0;

        .ant-tabs-nav-list {
          flex: 1;

          .ant-tabs-tab {
            flex: 1;
            justify-content: center;

            .ant-tabs-tab-btn div {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}